{{ define "main" }}
<div class="home">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
        <li class="post-item">
            <h2 class="post-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <time class="post-meta" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{ with .Summary }}<p class="post-summary">{{ . }}</p>{{ end }}
            <a class="post-readmore" href="{{ .RelPermalink }}">Read more &rarr;</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
